.del-screen {
    position: absolute;
    top: 5px;
    right: 5px;
}

.fav{
    position: absolute;
    top: 8px;
    right: 8px;

    span{
        font-size: 2.5rem;
        color: var(--secondary);
        cursor: pointer;
    }

}

