.bg-lighter {
    background-color: var(--main-color-lighter);
}

.subtext {
    font-size: 18px!important;
}

#triptique {
    img { 
        width: 40px;
    }
    p {
        font-size: 16px;
    }
}

// Hero
#hero {
    h1 {
        font-size: 56px;
    }
    p {
        line-height: 2;
        font-size:20px;
    }
}

// Liste des jeux
.game-thumb {
    height:320px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;

    position: relative;
    .matiere {
        position: absolute;
        bottom: 8px;
        right: 10px;
        color:white;

        transform: translateY(50px);
        transition: all .3s ease;
    }

    &:hover { 
        .matiere {
            transform: translate(0);
        }
    }
}

// Game posters

.status {
    position: relative;
    padding-left:18px;
    &:before{
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50px;
        left: 0;
        top: 4px;
     
        transform: scale(1);
    }
    &.unavailable:before{
        background:var(--red);
        box-shadow: 0 0 0 0 var(--red);
    }
    &.available:before {
        background:var(--green);
        box-shadow: 0 0 0 0 var(--green);
        -webkit-animation: pulse 3s infinite;
                animation: pulse 3s infinite;
      }
}

// on single game page
.small {
    max-width:1100px;
    margin: auto;
    img {
        height:280px;
    }
}

// Bannière pub PNE 
#nanabanner {
    overflow: hidden;
    position: relative;
    .right-pic {
        max-width: 358px;
    }
}

// Game

.header-game {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;

}

// @media screen and (min-width: 992px) {
//     .right-game-desc {
//         height:calc(100% - 85px);
//         display: flex;
//         flex-direction:column;
//         justify-content: center;
//     }
// }



// Contact

.form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
    transform: scale(0.75) translateY(-1rem) translateX(0.15rem);
}

#contact {
    input[type=number], input[type=text], input[type=tel], input[type=email] {
        &:focus {
            box-shadow: none!important;
        }
    }
}
#list-pj {
    overflow-y: auto;
}


// Blog

.section-title-blog {
    font-size:2.63rem;
}


// Decorations

.top-left-pop {
    position: absolute;
    width: 48px;
    top: -23px;
    left: -20px;
}

.right-corner-pop {
    position: absolute;
    width: 48px;
    top: -23px;
    right: -35px;
}

.top-left-arrow {
    position: absolute;
    height: 62.5px;
    bottom: -30px;
    right: -130px;
}

.yellow-underline {
    position: absolute;
    left: 0;
    bottom: -6px;
    z-index: -1;
    width: 100%;
}

.zigzag-bottom-left {
    position: absolute;
    height: 145px;
    bottom: -60px;
    left: -75px;
}

.arrow-bottom-right {
    width: 115px;
    position: absolute;
    top: -125px;
}

.big-arrow-top-left {
    position: absolute;
    top: 0;
    left: 40%;
    transform: translate(-50%, -100%);
    width: 300px;
}

.top-left-swoosh {
    position: absolute;
    width: 76px;
    right: -60px;
    top: -70px;
}

.tick{
    color: white;
    background-color: var(--secondary);
    border-radius: 50px;
    font-size: 2rem;
    padding: 4px;
}
// icons 

.rs-icons {
    a {
        padding:8px 10px;
        border-radius:50px;
        background-color: $primary;
    }
}
// about 

.nanaba-top-left {
    position: absolute;
    transform: translateY(-50%);
    z-index: -1;
    top: -10px;
    left: 0;
}

#team {
    .right-corner-pop {
        top: -50px;
    }
    .team-carousel {
        img {
            max-height: 320px;
            width:100%;
            object-fit: cover;
            object-position: top;
        }
    }
}

#concept {
    .mister-nanaba-laptop {
        max-width:422px;
    }
   .tick {
    font-size:3rem;
    padding: 0;
   }

}

.vertical-yellow { 
    width: 48px;
    background-color:var(--main-color-lighter);
    height: 110%;
    border-radius: 30px;
    z-index: -1;
    position: absolute;
    top: -5%;
}

.design-img {
    background-color:#F2F2F2;
    img{
        width: 344px;
    }
}

